
body{
    background-color:rgb(157, 178, 216);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
    color: #444;
    margin-bottom: 56px;
}

.informaçoesBasicas{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

h1{
    background-color:rgb(91, 91, 241) ;
    text-align: center;
    font-family: sans-serif;
    color: black;
    margin-bottom: 0;
}

h2{
    background-color:rgb(150, 169, 216);
    color: rgb(25, 37, 199);
    font-family: sans-serif;
    text-align: left;
}

.pCursosFinalizados{
    text-align: justify;
    background-color: #444;
    color: azure;
}

a:link{
    color: rgb(29, 121, 121);
}
a:hover{
    background-color: rgb(34, 153, 153);
}

.menu {
    text-align: right;
}

.menu li { /*O espaço que foi dado na declaração indica que o elemente que esta dentro da classe criada seja alterada*/
    list-style-type: none;
    display: inline-block; /*Isso foi feito para deixar o elemento em horizontal pois como ele era um elemento de bloco sempre  tera quebra de linha*/
    padding: 0;
}

.menu a {
    background-color: rgb(150, 169, 216);
    padding: 16px;
    display: block;
}

.menu a:hover {
    background-color: #333;
    color: rgb(90, 144, 245);
    text-decoration: none;
}