h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:blueviolet;
}

.destaque {
    color: #00696d;
    font-weight: bold;
}

#titulo {
    color: #7b5101;
}

.paragrafoInformativo{
    font-weight:lighter;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

